<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>657102836550-o61kdidhndmkg6bq3g69hpt3eub75bjv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDUwbRUG5mSJWzlPREftMHN4n653Lc0X1U</string>
	<key>GCM_SENDER_ID</key>
	<string>657102836550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>at.anexia.authenticator</string>
	<key>PROJECT_ID</key>
	<string>anexia-authenticator</string>
	<key>STORAGE_BUCKET</key>
	<string>anexia-authenticator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657102836550:ios:47b433033d5da53d288b47</string>
	<key>DATABASE_URL</key>
	<string>https://anexia-authenticator.firebaseio.com</string>
</dict>
</plist>